<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>MoreSDKDemo.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>6B5B34EA1A75E86F004C700B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>6B5B35021A75E870004C700B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>6BBAA01D1A6CAA9600166704</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>6BBAA0361A6CAA9600166704</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
